.Section {
  grid-column: 4 / -4;
  padding: 25px;
  margin: 40px auto;
  grid-column: 1 / -1;
  max-width: 800px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
}

.Section > h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.TwoColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
