.CaseStudyCard {
  max-width: 350px;
  margin: auto;
  height: 450px;
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.705);
  display: flex;
  flex-direction: column;
}

.Image {
  height: 45%;
  position: relative;
  z-index: -1;
}
.CaseStudyCard > img,
picture {
  max-height: 100%;
}

.Info {
  height: 55%;
  background-color: white;
}

.CaseStudyCard a {
  text-decoration: none;
}
