.ComponentCarousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-653.1088913245535px);
  transform-style: preserve-3d;
  transition-duration: 1s;
}

.ComponentCarousel > div {
  position: absolute;
  background-color: white;
  margin: 20px 5px;
}

.CarouselContainer {
  /* border: 1px solid #ccc; */
  margin: auto;
  margin-top: 80px;
  /* padding-top: 120px; */
  /* padding-bottom: "80px"; */
  position: relative;
  width: 350px;
  height: 450px;
  perspective: 3000px;
}
.CarouselContainer > * {
  box-sizing: border-box;
}

.CarouselCell {
  /* transform: scaleX(0.5); */
  position: absolute;
  width: 95%;
  /* margin: 5px; */
  left: 10px;
  bottom: 80px;
}

.CarouselCell:nth-child(1) {
  transform: rotateY(0deg) translateZ(241px);
}
.CarouselCell:nth-child(2) {
  transform: rotateY(72deg) translateZ(241px);
}
.CarouselCell:nth-child(3) {
  transform: rotateY(144deg) translateZ(241px);
}
.CarouselCell:nth-child(4) {
  transform: rotateY(216deg) translateZ(241px);
}
.CarouselCell:nth-child(5) {
  transform: rotateY(288deg) translateZ(241px);
}

.ButtonContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CarouselNavButton {
  padding: 10px 15px;
  width: 130px;
}
